h1 {
    background-color: black;
    color: white;
}
span {
    color: aqua;
}
h2 {
    background-color: rebeccapurple;
    text-align:center;
    color: white;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
}
h3 {
    background-color: skyblue;
    text-align: right;
    text-decoration: underline;
    font-weight: lighter;
}